docker {
    enabled = true
}
// Local profile configuration
profiles {
    local {
        executor {
            queueSize = 1
        }
        process {
            withName: 'runMSFragger' {
                memory = { 8.GB * task.attempt }  // Different memory settings for local
            }
            withName: 'runMSconvert' {
                memory = 8.GB  // Different memory settings for local
            }
        }
    }

    // Cloud profile configuration
    cloud {
        executor {
            queueSize = 5
        }
        process {
            withName: 'runMSFragger' {
                errorStrategy = 'retry'
                maxRetries = 5
                memory = { 16.GB * task.attempt }
            }
            withName: 'runMSconvert' {
                memory = 16.GB
            }
        }
    }
}